<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="stylesheet" href="/css/registration.css">
    <title>Registration</title>
</head>

<body>
    <div class="registration_container">
        <form action="/registration" method="POST" enctype="multipart/form-data" class="registration_form">
            <h2>Registration</h2>
            <div class="left_side">
                <div>
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <input type="text" name="fullName" placeholder="Full Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="gender_container">
                    <input type="checkbox" class="gender_checkbox" name="gender" value="male">
                    <label for="gender">Male</label>
    
                    <input type="checkbox" class="gender_checkbox" name="gender" value="female">
                    <label for="gender">Female</label>
                </div>
                <div>
                    <input type="date" name="birthDate" class="birth_input" required>
                </div>
                <div>
                    <select name="country" id="countriesList" onchange="getCities(this)" selected="Choose">
                        <option value="" selected disabled hidden>Choose</option>
                        <% for (let i = 0; i < countries.length; i++) { %>
                            <option value="<%=countries[i].code%>"><%= countries[i].name %></option>
                        <% } %>
                    </select>
                    <select name="city" id="citiesList" disabled>
                        <option value="" selected disabled hidden>Choose</option>
                        <% for (let i = 0; i < cities.length; i++) { %>
                            <option value="<%=cities[i].name%>" data-value="<%=cities[i].country%>"><%= cities[i].name %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="right_side">
                <div>            
                    <select name="language" id="languagesList">
                        <option value="" selected disabled hidden>Language</option>
                        <% for (let i = 0; i < languages.length; i++) { %>
                            <option value="<%=languages[i]%>"><%= languages[i] %></option>
                        <% } %>
                    </select>
                    <select name="education" id="educationsList">
                        <option value="" selected disabled hidden>Education</option>
                        <% for (let i = 0; i < educations.length; i++) { %>
                            <option value="<%=educations[i]%>"><%= educations[i] %></option>
                        <% } %>
                    </select>               
                </div>
                <div>
                    <select name="relationshipStatus" id="relationshipStatusList">
                        <option value="" selected disabled hidden>Relationship status</option>
                        <% for (let i = 0; i < relationshipStatus.length; i++) { %>
                            <option value="<%=relationshipStatus[i]%>"><%= relationshipStatus[i] %></option>
                        <% } %>
                    </select>
                    <select name="children" id="childrenList">
                        <option value="" selected disabled hidden>Children</option>
                        <% for (let i = 0; i < children.length; i++) { %>
                            <option value="<%=children[i]%>"><%= children[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <select name="religion" id="religionsList">
                        <option value="" selected disabled hidden>Religion</option>
                        <% for (let i = 0; i < religions.length; i++) { %>
                            <option value="<%=religions[i]%>"><%= religions[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="image" class="file_input">
                        Photo
                        <input type="file" id="inputFile" name="image" accept="image/png, image/jpg, image/jpeg" required>
                    </label>
                    <textarea name="description" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="btn_container">
                <button type="submit" class="submit_btn">Register</button>
            </div>
        </form>
    </div>
    <script>
        $('.gender_checkbox').click(function() {
            $('.gender_checkbox').prop('checked', false);
            $(this).prop('checked', true);
        });

        function getCities(country) {
            $('#citiesList').removeAttr('disabled');
            let option = $('#citiesList').children();
            option.css('display', 'none');
            
            for (let i = 0; i < citiesList.length; i++) {
                if(citiesList[i].getAttribute('data-value') == country.value) {
                    option[i].style.display = 'unset';
                }
            }
            option[0].style.display = 'unset';
            option[0].selected = true;
        }
    </script>
</body>

</html>